/* .autocomplete [role="listbox"] {
  max-height: 12em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.autocomplete [role="option"][aria-selected="true"] {
  background-color: #005ea5;
  border-color: #005ea5;
  color: #ffffff;
} */


.visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
.html {
  border: 1px solid #bfc1c3;
  margin-top: 15px;
  margin-bottom: 40px;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 1.5em;
  overflow: auto;
  position: relative;
}
.hidden {
  display: none;
}

.field {
  max-width: 26em;
  margin-bottom: 30px;
}
.field--inline {
  margin-bottom: 0;
  display: inline-block;
  max-width: auto;
}
.field label,
.field legend {
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 5px;
  display: block;
}
@media (min-width: 37.5em) {
  .field label,
  .field legend {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}
.field-label {
  display: block;
  font-weight: 700;
  color: #2d3748;
}
.field-legend {
  display: block;
  font-weight: 700;
  color: #2d3748;
}
.field-hint {
  color: #4a5568;
  margin-bottom: 5px;
  display: block;
}
.field-error {
  color: #e53e3e;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}
.field-error svg {
  margin-top: 5px;
  vertical-align: bottom;
  width: 1.5625em;
  fill: #e53e3e;
  margin-right: 5px;
}
select {
  width: 100%;
  font-size: 1em;
  line-height: 1.25;
}
@media (min-width: 37.5em) {
  select {
    font-size: 1.125em;
    line-height: 1.38889;
  }
}

.autocomplete {
  position: relative;
}
.autocomplete [type="text"] {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  line-height: 1.25;
  padding: 0.5em;
  border: 2px solid #718096;
}
.autocomplete-isFocused {
  outline-offset: 0;
  outline: 3px solid #ecc94b;
}
.autocomplete-button {
  position: absolute;
  right: 0.1em;
  top: 0.1em;
  -webkit-appearance: none;
  border: none;
  background-color: #f7fafc;
  font-size: 2em;
  line-height: 0.8em;
  padding: 0.1em 0.35em;
  overflow: hidden;
}
.autocomplete svg {
  position: absolute;
  right: 0.6em;
  width: 1.5em;
  height: 1.5em;
  top: 0.8em;
  fill: #4a5568;
}
.autocomplete [role="listbox"] {
  margin: 0;
  max-height: 12em;
  overflow-y: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  font-size: 100%;
  padding: 0;
  position: absolute;
  top: 2.3em;
  width: 100%;
  background-color: #f7fafc;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 2;
  border: 2px solid #718096;
}
.autocomplete [role="option"] {
  line-height: 22px;
  padding: 0.5em;
  display: block;
  border-bottom: 2px solid #718096;
  outline: 0;
  margin: 0;
}
.autocomplete-optionNoResults {
  line-height: 22px;
  padding: 0.5em;
  display: block;
  border-bottom: 2px solid #718096;
  cursor: not-allowed;
}
.autocomplete [role="option"]:hover,
.autocomplete [role="option"][aria-selected="true"] {
  background-color: #38a169;
  border-color: #38a169;
  color: #f7fafc;
}
